.image-price-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
  gap: 1rem;
  .img-price-card {
    box-shadow: 0px 4px 43px 0px rgba(129, 138, 184, 0.25);
    flex-basis: 31%;
    background: #fff;
    /* Add styles for the image price card */
    img {
      width: 100%;
      max-height: 250px;
      object-fit: cover;
      height: 300px;
      /* Add styles for the image */
    }

    .row-1 {
      /* Add styles for the first row of content */
      .title {
        .sub-title {
        }
        color: #222;
        /* Title-24px */
        font-style: normal;
        font-weight: 500;
        line-height: 1.4; /* 108.333% */
        /* Add styles for the title */
      }

      .rating {
        /* Add styles for the rating */
        i {
          color: #ffd700;
        }
        .rate {
          color: #666;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
        .fa {
          /* Add styles for icons */
        }
      }
    }

    .row-2 {
      color: #999;
      text-align: center;
      font-style: normal;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      line-height: 24px; /* 150% */
      /* Add styles for the second row of content */
      .place {
        /* Add styles for the place */
        .fa {
          /* Add styles for icons */
        }
      }

      .price {
        flex-direction: row-reverse;
        /* Add styles for the price section */
        .actual-price {
          text-decoration: line-through
          /* Add styles for the actual price */
        }
        .discount-price {
          background: #FFE7DB;
          color: #FA7436;
          text-align: center;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
          padding: 5px 8px;
          /* Add styles for the discount price */
        }
      }
    }

    .row-3 {
      /* Add styles for the third row of content */
      .duration {
        color: #A3A3A3;
        font-style: normal;
        font-weight: 400;
        line-height: 124.5%; /* 19.92px */
        /* Add styles for the duration */
      }
    }
  }
}


.indistays-theme-btn {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  height: 48px;
  border: none;
  text-transform: uppercase;
  .mat-icon {
    font-size: 31px;
  }
  font-weight: bold;
}


@media (max-width: 1024px) {
  .image-price-card-container {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  .image-price-card-container {
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    overflow: scroll;
    .img-price-card {
      box-shadow: none;
      min-width: 80vw;
      img {
        height: 30vh;
      }
      .row-1 {
        /* Add styles for the first row of content */
        .title {
          .sub-title {
          }
        }
      }

      .row-2 {
        gap: 0.5rem;
        .place {
        }
        .price {
          flex-direction: row-reverse;
          .actual-price {
          }

          .discount-price {
          }
        }
      }
    }
  }

  .search-btn {
    width: 100% !important;
    font-size: 16px;
    height: 48px !important;
  }
}
