/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "assets/theme/custom-theme";
@import "assets/theme/custom-theme-variables";
@import "assets/theme/custom-classes";
// Custom theme -

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato-Reg';
  src: url(/assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight:300;
}
body { margin: 0;
  font-family: 'Lato-Reg' !important;
  background: #fff;
}

@font-face {
  font-family: 'Lato-bold';
  src: url(/assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-weight:300;
}

.mapLink {
  iframe {
    width: 100% !important;
    height: 300px;
  }
}

.camping-map {
  width: 200px; height: 200px; padding: 15px;
  display: flex; justify-content: center; align-items: center;
  iframe {
    width: 170px !important;
    height: 170px !important;
  }
}

.mdc-text-field--disabled .mdc-floating-label, .mdc-text-field--disabled .mdc-text-field__input  {
  color: #666 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #666 !important;
}

.mdc-text-field--disabled .mdc-notched-outline__leading {
  border-color: #666 !important;
  border-right: none !important;
}

.mdc-text-field--disabled .mdc-notched-outline__notch, .mdc-text-field--disabled .mdc-notched-outline__trailing {
  border-color: #666 !important;
}

.mat-form-field-disabled {
  cursor: not-allowed !important;
}

.mdc-text-field--disabled {
  cursor: not-allowed !important;
  background: #d3d3d342;
}

.slick-prev {
  border-radius: 100%;
  padding: 15px !important;
  box-shadow: 0px 4px 43px 0px rgba(129, 138, 184, 0.25) !important;
  background: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  &:before {
    content: "<" !important;
    color: #666 !important;
    font-family: Lato-bold !important;
    font-size: 16px !important;
  }
}

.slick-next {
  border-radius: 100%;
  padding: 15px !important;
  box-shadow: 0px 4px 43px 0px rgba(129, 138, 184, 0.25) !important;
  background: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  &:before {
    content: ">" !important;
    color: #666 !important;
    font-size: 16px !important;
    font-family: Lato-bold !important;
  }
}


.ngx-gallery-animation-fade {
  .ngx-gallery-image {
    border-radius: 10px;
  }
}

.ngx-gallery-thumbnail-size-cover {
  .ngx-gallery-thumbnails {
    .ngx-gallery-thumbnail {
      border: none !important;
      border-radius: 5px;
    }
  }
}

.loc-tile {
  iframe {
    width: 100% !important;
    border-radius: 15px;
  }
}


.carousal-text {
  top: 10vh;
  animation-name: fadeInUp;
  animation-delay: 0.1s;
  animation-duration: 1.25s;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  .header {
    color: var(--color-white);
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 108.3%; /* 60.648px */
    letter-spacing: -0.56px;
    text-align: left;
  }

  .text {
    color: var(--color-white);
    line-height: 1.4;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    margin-top: 2rem;
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .carousal-text {
    top: 2vh;
    .header {
      font-size: 35px;
      line-height: 1.2;
    }

    .text {
      font-size: 20px;
      margin-top: 1rem;
      width: 100%;
    }
  }
}


@media only screen and (max-width: 600px) {
  .carousal-text {
    top: 2vh;
    .header {
      font-size: 25px;
      line-height: 1.2;
    }

    .text {
      font-size: 14px;
      margin-top: 1rem;
      width: 100%;
    }
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0,100%,0)
  }

  to {
    opacity: 1;
    transform: none
  }
}

.mat-mdc-option .mdc-list-item__primary-text {
  color: #666 !important;
  font-size: 14px !important;
  padding: 0.5rem 0 !important;
}

.custom-date-picker {
  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background-color: #7CB518;
    border-radius: 60px;
    border: none;
  }

  .mat-mdc-floating-label, .mat-date-range-input-inner, .mat-mdc-button-base, .mat-date-range-input-separator {
    color: #fff;
  }

  //.mat-date-range-input-inner {
  //  font-size: 14px;
  //}

  .mat-mdc-form-field-flex {
    padding: 0 10px;
  }

  .mdc-notched-outline__leading, .mdc-notched-outline__trailing {
    border: none;
  }

  .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border: none;
  }
}

.no-data {
  padding: 2rem;
  text-align: center;
  color: #666;
}

.grid-auto-flow-row {
  grid-auto-flow: row !important;
}


.primary-button {

}

.indistays-theme-btn {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  height: 55px !important;
  width: 100% !important;
  border: none !important;
  border-radius: 45px !important;
  text-transform: uppercase !important;
  .mat-icon {
    font-size: 31px !important;
  }
  font-weight: bold !important;
}
