
.landing-nav {
  padding: 0 30px;
}

.sticky-top {
  z-index: 1000 !important;
}

.nav-background {
  //background: var(--primary-color) !important;
  background: transparent !important;
  //  Logo Font - Cinzel Decorative
}


.logo-image {
  width: 70px;
  height: auto;
}

.setting-icon-mobile {
  background: var(--color-white) !important;
}

.menu-bar {
  padding-left: 2%;
}

.nav-menu {
  margin: 0 20px;
  color: var(--color-white);
  border-bottom: 3px solid transparent;
  font-family: Lato-bold !important;
  &:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--secondary-color);
  }
  a {
    color: var(--primary-color);
    font-size: 16px;
  }
}

.user-name-box {
  line-height: 1.4;
}

.height-75 {
  height: 75px;
}
