<div class="image-tiles">
  <ng-container *ngFor="let image of tilesData">
    <img (load)="someEvent(image)" [src]="image?.img" alt="Image" style="display: none;">
    <div *ngIf="image?.loaded; else placeHolder" [routerLink]="image.url" class="single-image-tile" [style.background-image]="'url(' + image?.img + ')'">
      <div class="image-title">
        {{ image?.name }}
      </div>
    </div>
    <ng-template #placeHolder>
      <ngx-skeleton-loader [theme]="{height: '200px', 'border-radius': '20px'}" count="1" ></ngx-skeleton-loader>
    </ng-template>
  </ng-container>
</div>
