.bottom-nav {
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  z-index: 99999;
  .nav-tab {
    &.active {
      color: var(--primary-color);
      font-weight: bold;
      i {
        color: var(--secondary-color);
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    color: #999;
    i {
      font-size: 20px;
      color: #999;
    }
  }
}
