// My Custom Theme

@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #e4e6e2,
  100 : #babfb6,
  200 : #8d9586,
  300 : #5f6b56,
  400 : #3c4b31,
  500 : #1a2b0d,
  600 : #17260b,
  700 : #132009,
  800 : #0f1a07,
  900 : #081003,
  A100 : #84ff52,
  A200 : #5fff1f,
  A400 : #43eb00,
  A700 : #3cd200,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-secondary: (
  50 : #e4e6e2,
  100 : #babfb6,
  200 : #8d9586,
  300 : #5f6b56,
  400 : #3c4b31,
  500 : #7CB518,
  600 : #17260b,
  700 : #132009,
  800 : #0f1a07,
  900 : #081003,
  A100 : #84ff52,
  A200 : #5fff1f,
  A400 : #43eb00,
  A700 : #3cd200,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */



$primary: mat.define-palette($md-primary);
$secondary: mat.define-palette($md-secondary);

$theme: mat.define-light-theme($primary, $secondary);

@include mat.all-component-themes($theme);
