.footer-container {
  .top-footer {
    gap: 16px;
    padding: 2rem 5rem;
    background: #68941C;
    .main-title {
      color: #FFF;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%; /* 52.8px */
      font-family: Lato-bold;
    }
    .sub-title {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 32px */
      margin-bottom: 1.5rem;
    }
    .white-btn {
      background: #fff;
      color: #68941C;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 120% */
      letter-spacing: 0.5px;
      padding: 15px 22px;
      display: flex;
      border-radius: 8px;
      width: 200px;
      justify-content: center;
    }
  }

  .botton-footer {
    gap: 16px;
    padding: 4rem 5rem;
    background: #171715;
    .fst-btm-footer {
      display: flex;
      justify-content: space-between;
      .icons-container {
        i {
          color: #fff;
          font-size: 20px;
          height: 30px;
          width: 30px;
          cursor: pointer;
        }
      }
    }
    .main-title {
      color: #FFF;
      font-size: 29px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.4; /* 52.8px */
      img {
        max-width: 150px;
      }
    }
    .sub-title {
      color: #666;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 32px */
      max-width: 200px;
      text-align: center;
    }
    .green-btn {
      background: #68941C;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 120% */
      letter-spacing: 0.5px;
      padding: 10px 15px;
      display: flex;
      border-radius: 8px;
      width: 200px;
      justify-content: center;
    }

    .footer-menu {
      padding: 4rem 0 0;
      .menu-container {
        display: flex;
        flex-direction: column;
        padding-right: 3rem;
        .menu-header {
          color: #FFF;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
          letter-spacing: 0.1px;
          margin-bottom: 16px;
          text-transform: uppercase;
        }
        .menu {
          color: #6c757d;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
          margin-bottom: 8px;
          word-wrap: break-word;
        }
      }
    }
  }
}

.send-input {
  height: 40px;
  input {
    background: #272727;
    border: none;
    color: #d3d3d3;
    font-size: 12px;
    &:focus {
      border: 1px solid #272727 !important;
    }
  }
  .send-btn {
    background: #272727;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.copy-right {
  color: #666;
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .footer-container {
    .botton-footer {
      padding: 2rem;
      .fst-btm-footer {
        flex-direction: column;
        .logo-ctnr {
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .icons-container {
          display: flex;
          justify-content: center;
          padding-top: 2rem;
        }
      }
      .footer-menu {
        .menu-container {
          padding-right: 0 !important;
          .menu-header {
            font-size: 16px;
          }
          .menu {
            //text-align: center;
          }
        }
        .send-input {
          margin-top: 1rem;
        }
      }
      .copy-right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
      }
    }
    .top-footer {
      padding: 2rem;
      .main-title {
        font-size: 24px;
        line-height: 1.4;
      }
      .sub-title {
        font-size: 14px;
        margin-bottom: 1rem;
      }
    }
  }
}
