<app-app-header></app-app-header>
<div class="about-us-container">
  <div class="about-us-banner">
    <img src="assets/images/about_us.jpg" alt="">
  </div>
  <div class="about-us-content">
    <div class="left-image">
      <div class="image-tile">
        <img src="assets/images/about_us_1.jpg" alt="">
      </div>
      <div class="image-content">
        <div class="title">
          Our Story
        </div>
        <div class="content">
          Indistays was born from a passion for merging nature's beauty with the luxury of modern comfort. Our journey began with a simple idea: to redefine camping as an experience that leaves you in awe of both the great outdoors and the finer things in life. We wanted to create a space where adventure and relaxation go hand in hand, and where every moment feels like a cherished memory.
        </div>
      </div>
    </div>
    <div class="right-image">
      <div class="image-content">
        <div class="title">
          Luxury in Nature
        </div>
        <div class="content">
          At Indistays, we curate exceptional camping experiences that transcend the ordinary. We handpick destinations that encapsulate the essence of nature's beauty and tranquility, offering you an escape from the mundane. From the enchanting natural waterfall of Bhandardara to the sun-kissed beaches of Alibaug, and the serene shores of Pavna Lake, each of our carefully selected locations serves as a canvas for your unique adventure.
        </div>
      </div>
      <div class="image-tile">
        <img src="assets/images/about_us_2.jpg" alt="">
      </div>
    </div>
    <div class="left-image">
      <div class="image-tile">
        <img src="assets/images/about_us_3.jpg" alt="">
      </div>
      <div class="image-content">
        <div class="title">
          What We Do
        </div>
        <div class="content">
          At Indistays, we curate exceptional camping experiences that transcend the ordinary. We handpick destinations that encapsulate the essence of nature's beauty and tranquility, offering you an escape from the mundane. From the enchanting natural waterfall of Bhandardara to the sun-kissed beaches of Alibaug, and the serene shores of Pavna Lake, each of our carefully selected locations serves as a canvas for your unique adventure.
        </div>
      </div>
    </div>
  </div>
</div>
<!--<svg width="221" height="203" viewBox="0 0 221 203" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--  <circle cx="124.5" cy="106.5" r="96.5" fill="#535453" fill-opacity="0.25"/>-->
<!--  <circle cx="58.7962" cy="58.7938" r="58" transform="rotate(9.51984 58.7962 58.7938)" fill="#565446" fill-opacity="0.2"/>-->
<!--</svg>-->
<app-footer></app-footer>
